/* ---------- Anova Website Style Guide ---------- */

/* ---------- Typography ---------- */

h1 {
    color: #FF8B01;
    font-family: "proxima-nova",sans-serif;
    font-style: normal;
    font-weight: 300;
}

p {
    color: #646464; 
    font-family: "proxima-nova",sans-serif;
    font-style: normal;
    font-weight: 400;
}

/* ---------- Containers ---------- */

body {
    background-color: #F5F5F5;
}

.parent {	display: block;
			width: 960 px;
			margin: auto;  
			padding: 10px;
			border: 3px solid #FF8B01; }

.leftdiv {
	display: inline-block;
    width: 46%;
	float: left;
	padding: 10px;
	border: 3px solid #D8D8D8;
}

.rightdiv {
	display: block;
	margin-left: 52%;
	padding: 10px;
	border: 3px solid #D8D8D8;
}

